body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #22668a;
}

.category-aktif {
  background-color: #22668a;
  color: white;
}

a{
 text-decoration: none;
 color: #fff; 
}
a:hover{
  color: #fff;
}
.btn-primary {
  background-color: #22668a;
}
h4.title-hasil {
  background: rgb(34, 102, 138);
  background: linear-gradient(
    90deg,
    rgba(34, 102, 138, 1) 10%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #fff;
  padding: 5px;
}
@media only screen and (max-height: 1000px) {
  .hasil {
    height: 650px;
  }

  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
